@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
	--borderRadius: 0.2rem;
	--appBackgroundColor: rgb(24, 24, 24);
	--appTextColor:white ;
	--accentColor: rgb(204, 204, 204);
}
* {
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: Inter;
}
body {
	background-color: var(--appBackgroundColor);
	color: var(--appTextColor);
}
input[type="text"] {
	border: none;
	height: 1.5rem;
	padding: 0 0.4rem;
	/* margin: 1rem; */
	font-family: "Inter";
	background-color: rgb(40, 40, 40);
	color: rgb(206, 206, 206);

	border-radius: var(--borderRadius);
}
button {
	border: none;
	height: 1.5rem;
	background-color: var(--accentColor);
	color: rgb(0, 0, 0);
	stroke: rgb(0, 0, 0);
	font-weight: 600;
	border-radius: var(--borderRadius);
	padding: 0 0.5rem;
	display: grid;
	place-items: center;
}
button:hover {
	outline: 2px solid var(--accentColor);
	background-color: transparent;
	color: var(--accentColor);
	stroke: var(--accentColor);
}
form {
	display: inline-flex;
	gap: 0.5rem;
}
.completed {
	text-decoration: line-through;
	color: gray;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	font-size: 1.5rem;
}
.loading span {
	padding: 1rem;
	display: grid;
	place-items: center;
	font-size: 2rem;

	animation: rotate-full 1.2s linear infinite;
}
@keyframes rotate-full {
	to {
		transform: rotate(360deg);
	}
}

.subjectHolder {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.myList {
	margin-top: 0.8rem;
	width: 100%;
	max-width: 400px;
	list-style: none;
	padding: 0.2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.myList > li {
	border-top: 1px solid white;
}
